*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background:#090909;
    color:white;
    text-align:center;
    font-family:Arial;
    min-height:100vh;
    padding:30px;
}


h1{
    color:red;
    font-size:45px;
    text-shadow:0 0 20px red;
}


.timer{
    font-size:28px;
    margin:20px;
    color:yellow;
}


.room{
    width:70%;
    margin:auto;
    background:#111;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 25px crimson;
}


.clue{
    font-size:60px;
    margin:30px;
    cursor:pointer;
    display:inline-block;
    transition:.4s;
}


.clue:hover{
    transform:scale(1.4) rotate(20deg);
}


.found{
    opacity:0.2;
}


.progress{
    margin:25px;
    font-size:25px;
}


button{
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    background:red;
    color:white;
    margin:10px;
}


button:hover{
    background:black;
    box-shadow:0 0 20px red;
}


.secret{
    display:none;
    width:60%;
    margin:auto;
    margin-top:30px;
    background:#161616;
    padding:30px;
    border:2px solid red;
    border-radius:20px;
}


input{
    padding:15px;
    font-size:18px;
    margin:15px;
}